p{
	font-family: 'Merriweather', serif;
	font-size: 180%;
	line-height:10px;
	margin-bottom: 0px;
	text-align: center;
}
.odc {
    width: 25px;
    margin: auto;
    overflow: visible;
}
.idc img {
	display: block;
	position: absolute;
}
.idc {
    margin-left: 20px;
    width: 100px;
}
#bot {
	position: relative;
	margin-top: 585px;
}